// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';

@import 'sidebar';

@import '~magnific-popup';

@import '~@fortawesome/fontawesome-free';

@import '~notiflix/dist/notiflix-2.6.0.min.css';

@import 'cards';


.no-background {
    background: none;
}

.no-display {
    display: none;
}
#results {
    background: rgb(255, 255, 255);
    height: 22em;
    position: absolute;
    overflow-y: scroll;
    z-index: 1;
}
.poster{
    width: 7em;
}
