
html/.idea/

html/public/css/app.css

html/public/js/app.js

html/storage/anime_index.index-wal

html/storage/anime_index.index-shm

html/storage/anime_index.index

html/public/css/carousel.css

html/public/mix-manifest.json

html/public/js/

.idea/

html/tests/reports/
